.navbar i {
    font-size: 25px;
    color: greenyellow;
    margin-top: 10px;
}

.navbar .appname {
    font-size: 25px;
    color: greenyellow;
}

.weather1,
.weather2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather1 input {
    font-size: 21px;
    width: 70%;
    /* border-radius: 3px; */
}

.data {
    max-width: 800px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
}

.maincard {
    max-width: 320px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white; */
    
}

.maincard .temp {
    font-size: 50px;
    color: greenyellow;
}

.maincard img {
    width: 100px;
}

.maincard .weatherDes, .feelsLike {
    text-transform: uppercase;
    font-size: 17px;
}


.data2 {
    max-width: 1100px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
}

.border h6,
.table th {
    color: greenyellow;
}

.border {
    border-radius: 10px;
}



/* Weather Animation Start --------------------------------------- */
@keyframes cloudAnimation {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.cloudy {
    animation: cloudAnimation 10s linear infinite;
    background: url('Images/Cloud.jpg') repeat-x;
    background-size: auto 550px;
}

@keyframes rainAnimation {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.rainy {
    animation: cloudAnimation 10s linear infinite;
    background: url('Images/Rain.jpg') repeat-x;
    background-size: auto 550px;
}

@keyframes hazeAnimation {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.haze {
    animation: hazeAnimation 10s linear infinite;
    background: url('Images/Haze.jpg') repeat-x;
    background-size: auto 550px;
}

@keyframes clearskyAnimation {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.clearsky {
    animation: clearskyAnimation 10s linear infinite;
    background: url('Images/ClearSky.jpg') repeat-x;
    background-size: auto 550px;
}

@keyframes thunderstormAnimation {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.thunderstorm {
    animation: thunderstormAnimation 10s linear infinite;
    background: url('Images/Thunderstorm.png') repeat-x;
    background-size: auto 550px;
}

@keyframes defaultAnimation {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.default {
    animation: defaultAnimation 10s linear infinite;
    background: url('Images/Default.jpg') repeat-x;
    background-size: auto 550px;
}

/* Weather Animation End --------------------------------------- */



/* Table Showing ------------------- */
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 400px) {
    .border h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

