.navbar i {
    font-size: 25px;
    color: aqua;
}

.navbar .appname {
    font-size: 25px;
    /* color: greenyellow; */
}

.weather1,
.weather2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather1 input {
    font-size: 20px;
    width: 70%;
}





.data {
    max-width: 800px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
    background: #000;
    color: #fff;
}

.data2 {
    max-width: 1000px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 20px;
}

.border h6,
.table th {
    color: greenyellow;
}

.border {
    border-radius: 10px;
}



table {
    /* border: 1px solid #ccc; */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    /* background-color: #f8f8f8;
    border: 1px solid #ddd; */
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 400px) {
    .border h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        /* border-bottom: 3px solid #ddd; */
        display: block;
        margin-bottom: .625em;
    }

    table td {
        /* border-bottom: 1px solid #ddd; */
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

